

.fa{
  width: 20px;
}

.formulario-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .formulario-container h2 {
    margin-bottom: 20px;
  }
  
  .formulario-container label {
    margin-bottom: 5px;
  }
  
  .formulario-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .formulario-container input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .formulario-container input[type="submit"]:hover {
    background-color: #0056b3;
  }
  