@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.estatistica {
    padding: 30px;
 

    .btn-light {
        width: 100%;
        text-align: left;
        padding: 15px 25px;
    }
}
.app{
    overflow: scroll;
    

}

.grafico1 {
    img {
        width: 100%;
        display: inline-block;
        margin: 4px;
    }
}

.grafico2 {
    img {
        width: 100%;
        display: inline-block;
    }
}